<!--   <nav>
    <div class="nav-wrapper">
      <a href="/products" class="brand-logo"><img src ="https://files.slack.com/files-pri/T055GEHEJ-F9RM8KW4A/image.png"></a>
      Mad! Sunglasses
      <ul class="right hide-on-med-and-down">
        <li><a href="/products">Products</a></li>
        <li><a href="/users/new">Create Account</a></li>
        <li><a href="#!">Contact Us</a></li>
        <li><a href="#!">About</a></li>
      </ul> -->
<!--       <ul class="side-nav" id="mobile-demo">
        <li><a href="/products">Products</a></li>
        <li><a href="/users/new">Create Account</a></li>
        <li><a href="#!">Contact Us</a></li>
        <li><a href="#!">About</a></li>
      </ul> -->
<!--     </div>
  </nav> -->
          <nav data-activates="mobile-demo" class="button-collapse">
          <div class="nav-wrapper #004d40 teal darken-4">
            <a href="#!" class="brand-logo">MAD! Sunglasses</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="sass.html">Login</a></li>
              <li><a href="badges.html">Products</a></li>
              <li><a href="collapsible.html"></a>Cart</li>
              <li><a href="mobile.html">Contact</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="sass.html">Login</a></li>
              <li><a href="badges.html">Products</a></li>
              <li><a href="collapsible.html">Cart</a></li>
              <li><a href="mobile.html">Contact</a></li>
            </ul>
          </div>
        </nav>
        <script type="text/javascript">
            $(".button-collapse").sideNav();
        </script>

