/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.nav-wrapper {
	background-color: purple;
	position: relative;
}

.nav-wrapper img {
	height: 4rem;
	display: block;
	margin: auto;
}
