<div class="container">
<h3 class="center align">About Us!</h3>
<h5 class="center align">MAD is a Wynwood based sunglasses. Our mission is to be the premier shopping and inspiration destination for the top brands, latest trends and exclusive styles of high quality fashion and performance sunglasses.</h5>

</div>
<%= link_to 'Back', users_path %>